<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Bog App</title>
</head>
<body>
   
   <%= form_for @creature do |f| %>
         <p>Name: <%= f.text_field :name %></p>
         <p>Description: <%= f.text_area :description %></p>
         <%= f.submit "Save Creature" %>
   <% end %>
   <%= button_to "Delete", @creature, method: :delete %>
   <form action="/" method="get">
      <button type="submit">Return to Index</button>
   </form>

</body>
</html>